[flake8]
max-line-length = 120
extend-ignore = E203,W503,F401,W293,F541,E501
exclude = 
    .git,
    __pycache__,
    .vscode,
    .pytest_cache,
    venv,
    env,
    logs,
    data,
    presentation,
    text,
    *example*.py,
    visualization_*.py
