[flake8]
max-line-length = 100  # Можно согласовать с black
ignore =
    E203,  # Несовместимость с black (пробелы перед ':')
    W503,  # Разрыв строки перед бинарным оператором (black так делает)
    E501   # Длина строки (если проверяется black)
exclude =
    .git,
    __pycache__,
    .venv,
    migrations
