# Usage:
#   pre-commit install                   - install git hooks
#   pre-commit run --all-files           - run all hooks on all files
#   pre-commit run --files <path>        - run hooks on specific file(s)
#   pre-commit run black --files <path>  - run only black on file
#   pre-commit run flake8 --files <path> - run only flake8 on file
#   pre-commit autoupdate                - update hook versions
#   git commit -m "msg" --no-verify      - skip hooks (not recommended)

exclude: '^(data/|logs/|presentation/|text/|masters_env/|venv/|env/|.*example.*\.py|visualization_.*\.py)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ["--line-length=120"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args:
          - "--max-line-length=120"
          - "--extend-ignore=E203,W503"
